/* Loading.css */

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.loading-spinner {
    border: 8px solid #f3f3f3; /* Hafif gri çerçeve */
    border-top: 8px solid #3498db; /* Mavi renkli üst çerçeve */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite; /* Dönme animasyonu */
}

/* Animasyon tanımı */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
